.update-user-wrapper {
  width: 80%;
  margin: 20px auto;
}

.title {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
  color: red;
}


.to_login-form>a {
  text-decoration: underline;
}
