.password-reset-wrapper {
  width: 80%;
  margin: 20px auto;
}

.title {
  font-size: 24px;
  margin-bottom: 30px;
  text-align: center;
}

.to_login-form {
  margin-top: 20px;
  text-align: center;
  color: blue;
}

.to_login-form > a {
  text-decoration: underline;
}
