<app-header></app-header>
<div class="board">
  <div class="error-message">
    {{ errorMessage }}
  </div>
  <div class="post" *ngFor="let post of posts" (click)="showPostDetail(post.id)">
    <input type="hidden" value="{{post.id}}">
    <div class="post-img">
      <img fluid src={{post.imageUrl}} alt="">
    </div>
    <div class="post-body">
      <div class="post-body_top">
        <div class="tag">
          <p>{{post.tagName}}</p>
        </div>
        <div class="fabo">
          <!-- <span class="material-icons">
            favorite
          </span> -->
        </div>
      </div>
      <div class="post-body_bottom">
        <div class="comment">{{post.text}}</div>
        <!-- <div class="show-comment">コメントを39件表示</div> -->
      </div>
    </div>
  </div>
  <div class="add-post" [hidden]="!postExist">
    <button id="add-post-button" (click)="showBoard()">過去の投稿を取得</button>
  </div>
</div>
<app-footer></app-footer>
