<app-header></app-header>
<div class="board">
  <div class="post">
    <div class="post-img">
      <img fluid src="/assets/images/wine.png" alt="">
    </div>
    <div class="post-body">
      <div class="post-body_top">
        <div class="tag">
          <p>日本酒</p>
        </div>
        <div class="fabo">
          <span class="material-icons">
            favorite
          </span>
        </div>
      </div>
      <div class="post-body_bottom">
        <div class="comment">これは日本酒です。</div>
        <div class="show-comment">コメントを39件表示</div>
      </div>
    </div>
  </div>
  <div class="post">
    <div class="post-img">
      <img fluid src="/assets/images/wine.png" alt="">
    </div>
    <div class="post-body">
      <div class="post-body_top">
        <div class="tag">
          <p>日本酒</p>
        </div>
        <div class="fabo">
          <span class="material-icons">
            favorite
          </span>
        </div>
      </div>
      <div class="post-body_bottom">
        <div class="comment">これは日本酒です。</div>
        <div class="show-comment">コメントを39件表示</div>
      </div>
    </div>
  </div>
  <div class="post">
    <div class="post-img">
      <img fluid src="/assets/images/wine.png" alt="">
    </div>
    <div class="post-body">
      <div class="post-body_top">
        <div class="tag">
          <p>日本酒</p>
        </div>
        <div class="fabo">
          <span class="material-icons">
            favorite
          </span>
        </div>
      </div>
      <div class="post-body_bottom">
        <div class="comment">これは日本酒です。</div>
        <div class="show-comment">コメントを39件表示</div>
      </div>
    </div>
  </div>
</div>
