.footer-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.toolbar {
  background-color: #a8d69f;
}

.toolbar-row{
  justify-content: space-evenly;
  margin-top: 5px;
}

.list,.search,.my_page{
  text-align: center;
  display: grid;
}

.material-icons {
  margin: 0 auto;
}

span.tool-text {
  font-size: 14px;
}
