<div class="footer-wrapper">
  <mat-toolbar class="toolbar" [hidden]="!navbarFlg">
    <mat-toolbar-row class="toolbar-row">
      <div class="list" (click)="toBoard()">
        <mat-icon class="material-icons" aria-hidden="false" aria-label="Example heart icon">list_alt</mat-icon>
        <span class="tool-text">ホーム</span>
      </div>
      <div class="search" (click)="toSearch()">
        <mat-icon class="material-icons" aria-hidden="false" aria-label="Example delete icon">search</mat-icon>
        <span class="tool-text">検索</span>
      </div>
      <div class="my_page">
        <mat-icon class="material-icons" aria-hidden="false" aria-label="Example delete icon">person</mat-icon>
        <span class="tool-text">マイページ</span>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

</div>