.title{
  font-size: 24px;
  margin-bottom: 30px;
}

.error-message {
  text-align: center;
  color: red;
  font-size: 15px;
  margin: 20px 0;
}

.login-wrapper{
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.login-form,
.create-form,
.forget-password-form {
  min-width: 150px;
  max-width: 500px;
  margin: 0 auto;
  width: 100%;
}

.login-full-width {
  width: 100%;
}

.button {
  display: table-cell;
  width: 490px;
}

.button  {
  margin: 8px 8px 8px 0;
}


.login-button,
.create-button {
  border-radius: 30px;
  width: 100%;
  height: 35px;
  border: none;
  margin-top: 30px;
}

.login-button {
  background-color: #70B7E7;
  color: #fff;
}

.forget-password-form {
  margin-top: 20px;
}

.create-form {
  margin-top: 50px;
}

.forget-password-form {
  margin-top: 20px;
  text-align: center;
  color: blue;
}

.forget-password-form > a {
  text-decoration: underline;
}

.create-button {
  background-color: #fff;
  border: 3px solid #70B7E7;
  color: #70B7E7;
}
