<div class="app-logo">
  <img src="../../../assets/images/syuwa-logo.png" alt="酒話ロゴ">
</div>
<div class="login-wrapper">
  <div class="title">
    ログイン
  </div>
  <form class="login-form" type="email" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="login-full-width" appearance="fill">
      <mat-label>メールアドレス</mat-label>
      <input id="email" matInput placeholder="" formControlName="email">
    </mat-form-field>
    <mat-form-field class="login-full-width" appearance="fill">
      <mat-label>パスワード</mat-label>
      <input type="password" id="password" matInput placeholder="" formControlName="password">
    </mat-form-field>
    <div class="login-button-row">
      <button class="login-button">ログイン</button>
    </div>
  </form>
</div>