<app-logo></app-logo>
<div class="password-reset-wrapper">
  <div class="title">
    パスワード変更
  </div>
  <div class="password-reset-text" *ngIf="expiredFlg">
    パスワード入力
  </div>
  <p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
  <div class="to_login-form" *ngIf="!expiredFlg">
    <a (click)="toLogin()">ログイン画面へ</a>
  </div>
  <form class="password-reset-form" [formGroup]="passwordForm" (ngSubmit)="clickPasswordButton()" *ngIf="expiredFlg">
    <mat-form-field class="create-full-width" appearance="fill">
      <mat-error class="validation-error" *ngIf="password.hasError('required') || password.hasError('minLength')">
        パスワードは<strong>8文字以上</strong>必要です。
      </mat-error>
      <mat-error class="validation-error" *ngIf="password.hasError('maxLength')">
        パスワードは<strong>255文字以内</strong>で入力してください。
      </mat-error>
      <mat-label>パスワード</mat-label>
      <input type="password" id="password" matInput placeholder="" formControlName="password">
    </mat-form-field>
    <mat-form-field class="create-full-width" appearance="fill">
      <mat-error class="validation-error"
        *ngIf="passwordConfirmation.hasError('required') || passwordConfirmation.hasError('minLength')">
        パスワードは<strong>8文字以上</strong>必要です。
      </mat-error>
      <mat-error class="validation-error" *ngIf="passwordConfirmation.hasError('maxLength')">
        パスワードは<strong>255文字以内</strong>で入力してください。
      </mat-error>
      <mat-label>パスワード確認用</mat-label>
      <input type="password" id="password_Confirmation" matInput placeholder="" formControlName="passwordConfirmation">
      <mat-hint align="end">パスワードと同じパスワードを入力してください</mat-hint>
    </mat-form-field>
    <div class="password-reset-button-row">
      <button class="password-reset-button" [disabled]="!passwordFlg">パスワード変更</button>
    </div>
  </form>
</div>
