.post-detail{
  max-width: 470px;
}

.post-user {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #fafafa;
  border: solid 1px #cccccc;
}

.user_name{
  padding-top: 17px;
  font-size: 16px;
  padding-left: 15px;
}

.follow-button{
  padding-top: 10px;
  padding-right: 15px;
}

.follow-button > button {
  font-size: 16px;
  border-radius: 30px;
  background-color: #fff;
  border: 0.5px solid #000;
  color: #000;
}

.post-img {
  display: block;
  text-align: center;
  padding-top: 30px;

}

.post-img > img {
  width: 300px;
  height: 300px;
}

.post-bottom {
  background: #f1dfd6;
  padding: 20px 10px;
}

.post-info {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.post-tag {
  padding: 5px;
  font-weight: bold;
  border: solid 1px #fff;
  border-radius: 10px;
  background: #cde4ff;
}

.post-tag > p {
  margin: 0;
}

.post-comment {
  margin-top: 10px;
}
